#hello
{
    -fx-background-color: black;
    /*-fx-background-image: url("../pictures/mainbg.jpg");*/
    -fx-background-size: cover;
    -fx-background-position: center;
}
#card
{
    -fx-background-image: url("../pictures/excodia-card-faceup.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
}